@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@100&family=Roboto+Mono:wght@300&display=swap');

.header{
    height: 10vh;
    width: 100%;
    background: #CEE6F3;
    position: relative;
    top: 0;
    font-family: 'Roboto Mono', monospace;
  }

  .header h1{
    color:black ;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  nav h1{
    margin: 0 15px;
    cursor: pointer;
  }
  .nav-links{
    padding: 10px 0;
    list-style: none;
  }
  .nav-links li{
    margin: 10px 15px;
    display: inline-block;
    cursor: pointer;
  }
  .nav-links li a{
    text-decoration: none;
    color:black;
    padding: 5px 0;
    font-size: 1rem;
    position: relative;
  }