/* make sure to always include className*/
.App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#CBC3E3, white);
}
.header{
  height: 10vh;
  width: 100%;
  background: #CBC3E3;
  position: relative;
}
.header h1{
  color:#FAF9F6 ;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
nav h1{
  margin: 0 15px;
  cursor: pointer;
}
.nav-links{
  padding: 10px 0;
  list-style: none;
}
.nav-links li{
  margin: 0 15px;
  display: inline-block;
}
.nav-links li a{
  text-decoration: none;
  color:#FAF9F6;
  padding: 5px 0;
  position: relative;
}

/* #container{
  border-style: solid;
  height: 250px;
  margin-top:100px
} */
/* #password{
  margin: 5px
}

#options{
  margin-right: 10px;
} */