/* make sure to always include className*/
.App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#CBC3E3, white);
}
.header{
  height: 5vh;
  width: 100%;
  background: #CBC3E3;
  position: relative;
}
.header h1{
  color:#FAF9F6 ;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
nav h1{
  margin: 0 15px;
  cursor: pointer;
}
.nav-links{
  padding: 10px 0;
  list-style: none;
}
.nav-links li{
  margin: 0 15px;
  display: inline-block;
}
.nav-links li a{
  text-decoration: none;
  color:#FAF9F6;
  padding: 5px 0;
  position: relative;
}

/*home page login*/
.loginform, .logincredentials{
  display: flex;
  flex-direction: column;
}
.loginform{
  padding: 5rem;
  border: 1px solid white;
}

label {
  text-align: left;
  padding: 0.5rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 8px
}

button{
  margin-top: 5px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}
button:hover{
  background-color: black;
  color: white;
}
/*after admin login*/
.options button{
  margin: 0 15px;
}

/*manage-vol page*/
.contanier{
  position: absolute;
  /* margin-top: 5vh; */
}
.content{
  width: 90vh;
  margin-top: 5vh; /* avoids header colliding with content*/
  border: 1px solid black;
  padding: 280px;
  background-color: white;
  position: relative;
  overflow-y:scroll;
}

.manvol-nav input{
  position: sticky;
  top: 0;
}